{% extends "desktop/base.html" %}


{% block content %}
    <table style="margin-bottom: 0">
        <tr><td style="vertical-align: top">
            <!-- Column 1 / Project Information -->
            <div class="grid_4" style="width: 390px; margin-right: 20px">
                <div >
                    <h3 class="brab-title">{{ brab.title }}
                        {% if user.is_authenticated and brab.auth_user.id == user.id %}
                            <a class="btn btn-small" href="{% url editbrab pk=brab.id %}"><i class="icon-pencil"></i> Edit</a>
                             <a class="btn btn-small" href="{% url deletebrab pk=brab.id %}"><i class="icon-trash"></i> Delete</a>
                        {% endif %}
                    </h3>
                </div>

                <p class="brab-descr">{{ brab.description }}</p>
                <p class="brab-time">{{ brab.auth_user.username }} on {{ brab.created_at }}</p>

                <p class="brab-tag">
                    {% for tag_to_brab in brab.tag_to_brab_set.all %}
                        <a href="/brabsbytag/{{ tag_to_brab.tag }}">#{{ tag_to_brab.tag }}</a>{% if not forloop.last %}&nbsp;{% endif %}
                    {% endfor %}
                </p>


                <ul style="margin-left: 0px;">
                    <li class="brab_ul_li_element">
                        {% if brab.comments_set.count %}
                            <strong style="font-size: 11px">{{ brab.comments_set.count }} comment(s): </strong>
                        {% else %}
                            <strong style="font-size: 11px">No comments yet. Care to be the first? </strong>
                        {% endif %}
                    </li>
                    {% for comment in brab.comments_set.all %}
                        <li class="brab_ul_li_element brab_ul_li_element_l">
                            <span class="text-info" style="font-size: 12px;"><a href="/userbrabs/{{ comment.auth_user.id }}">{{ comment.auth_user }}</a></span>:
                            <span style="font-size: 12px;"> {{ comment.comment }} </span> <br/>
                            <span class="muted" style="font-size: 11px;">{{ comment.created_at }}</span>

                        </li>
                    {% endfor %}

                    {% if user.is_authenticated %}

                        <li style="background-color: #EDEFF4; list-style-type: none; margin-left: 0">
                            <form action="." method="post" style="margin: 0px;" >
                                <textarea aria-expended="false" id="id_C-comment" rows="2" cols="40" class="comments_textarea" name="C-comment" placeholder="write a comment..."></textarea>
                                <input type="hidden" name="C-auth_user" id="id_C-auth_user" />
                                <input type="hidden" name="C-brab" id="id_C-brab" />
                                <input type="hidden" name="C-visible" id="id_C-visible" />
                                <input type="hidden" name="C-deleted" id="id_C-deleted" />
                                <input type="hidden" name="C-created_at" id="id_C-created_at" />
                                <input type="hidden" name="C-updated_at" id="id_C-updated_at" />
                                <input name="C" type="submit" class="btn btn-info" value="Add" style="margin-top: 20px; margin-left: 6px;"/>
                            </form>
                        </li>
                    {% else %}
                        <li class="brab_ul_li_element brab_ul_li_element_l"><p class="text-warning">Log in to add a comment</p></li>
                    {% endif %}


            </div>
        </td><td style="vertical-align: top">
            <div style="display: inline-block; width: 380px;">

                {% if V_form %}
                {% if user.is_authenticated %}
                    {% if not brab.auth_user.id == user.id %}
                        <form action="." method="post" style="margin: 0px; float: left" name="V_form">
                                {% for vote in votes_data %}
                                    {% if vote.id == current_vote %}
                                        <a class="pointer" onclick="$(this).closest('form')[0].elements['V-vote_choice'].value = {{ vote.id }}; $(this).closest('form').submit();">{{ vote.past }} ({{ vote.total }})
                                    {% else %}
                                        <a class="pointer" onclick="$(this).closest('form')[0].elements['V-vote_choice'].value = {{ vote.id }}; document.getElementsByName('V_form')[0].submit();">{{ vote.name }} ({{ vote.total }})
                                    {% endif %}
                                    </a>

                                    {% if not forloop.last %}
                                        |
                                    {% endif %}
                                {%  endfor %}
                            <input name="V-vote_choice" type="hidden" value="">
                            <input name="V" type="hidden" value="1"/>
                        </form>
                    {% endif %}
                {% else %}
                    {% if not brab.auth_user.id == user.id %}
                        <li class="brab_ul_li_element brab_ul_li_element_l"><p class="text-warning">Log in to be able to vote</p></li>
                    {% endif %}
                {% endif %}
            {% endif %}

                {% if user.is_authenticated and not brab.auth_user.id == user.id %}
                    <form action="." name="form_follow" method="post" enctype="multipart/form-data" style="float: right; margin: 0 0 5px;">
                        {% if followed_by_logged_in_user %}
                            <input type="hidden" name="SF" value="1">
                            <input class="btn btn-inverse" name="button" value="Unfollow" type="submit">
                        {% else %}
                            <input type="hidden" name="F" value="1">
                            <input class="btn btn-inverse" name="button" value="Follow" type="submit">
                        {% endif %}
                    </form>
                {% endif %}
            </div>
            <div id="myCarousel" class="carousel slide">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% if brab.pictures_set %}
                        {% for picture in brab.pictures_set.all %}
                            {% if picture.main %}
                                <div class="active item"><img alt="" src="{{ picture.picture.url}}" /></div>
                            {% elif picture.visible and not picture.deleted%}
                                <div class="item"><img alt="" src="{{ picture.picture.url}}" /></div>

                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </div>
                {% if brab.pictures_set.count > 1 %}
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                {% endif %}
            </div>

        </td></tr>
    <tr>
        <td>
            <p class="brab-cat"{% if brab.category_to_brab_set.count %}>Categories:{% endif %}
            {% for category_to_brab in brab.category_to_brab_set.all %}

                <a href="/brabsbycategory/{{ category_to_brab.category_id }}" class="brab-cat-elem">{{ category_to_brab.category}}</a>{% if not forloop.last %}&nbsp;{% endif %}

            {% endfor %}
            </p>
        </td>
    </tr>
    </table>

{% endblock %}
