{% extends "base.html" %}

{% block page_header %}
    <div class="page-header">
        <h1>{{ brab.title }}</h1>
    </div>
{% endblock %}

{% block content %}

 
{% if brab.brab_type == 'p' %}
    <p>{{ brab.body }}<p>
{% endif %}
{% if brab.brab_type == 'v' %}
    {{ brab.embed_code|safe }}
{% endif %}
{% if brab.brab_type == 'i' %}
    <p><img src="{{ brab.image_url }}" /><p>
{% endif %}
{% if brab.brab_type == 'q' %}
    <blockquote>{{ brab.body }}</blockquote>


    <p>{{ brab.author }}</p>
{% endif %}

    <p>{{ brab.created_at }}</p>
    <hr>

    <h2>Current Votes</h2>
       <p>Never Mind It...:&nbsp;{{ brab.never_mind_count }}&nbsp;&nbsp;&nbsp;Like it:&nbsp;{{ brab.like_it_count }}&nbsp;&nbsp;&nbsp;Love It!:&nbsp;{{ brab.love_it_count }}&nbsp;&nbsp;&nbsp;Got to Have It!!!:&nbsp;{{ brab.got_to_have_it_count }}</p>
    <h2>Vote</h2>
    <form name="form_vote" action="." method="post">
        {% csrf_token %}
        <p>
            <label>
                <input type="radio" name="VoteIt" value="VoteItN" checked>
                Never Mind It...</label>

            <label>
                <input type="radio" name="VoteIt" value="VoteItL">
                Like It</label>

            <label>
                <input type="radio" name="VoteIt" value="VoteItO">
                Love It!</label>

            <label>
                <input type="radio" name="VoteIt" value="VoteItG">
                Got to Have It!!!</label>

        </p>
        <br>
        <div class="actions">
            <input type="submit" class="btn primary" value="vote">
        </div>
    </form>

    <h2>Comments</h2>
    {% if brab.comments %}
        {% for comment in brab.comments %}
            <p>{{ comment.body }}</p>
            <p><strong>{{ comment.author }}</strong> <small>on {{ comment.created_at }}</small></p>
            {{ comment.text }}
        {% endfor %}
    {% endif %}
    <h2>Add a comment</h2>
    <form name="comment" action="." method="post">
        {% include "_forms.html" %}
        <div class="actions">
            <input type="submit" class="btn primary" value="comment">
        </div>
    </form>
{% endblock %}
