{% extends "base.html" %}

{% block content %}
    {% for brab in brabs_list %}
        <h2><a href="{% url brab pk=brab.id %}">{{ brab.title }}</a></h2>
        {% if brab.brab_type == 'p' %}
            <p>{{ brab.body|truncatewords:20 }}</p>
        {% endif %}
        {% if brab.brab_type == 'v' %}
            {{ brab.embed_code|safe }}
        {% endif %}
        {% if brab.brab_type == 'i' %}
            <p><img src="{{ brab.image_url }}" /><p>
        {% endif %}
    {% if brab.brab_type == 'q' %}
        <blockquote>{{ brab.body|truncatewords:20 }}</blockquote>
        <p>{{ brab.author }}</p>
    {% endif %}
        <p>
            {{ brab.created_at }} |
            {% with total=brab.comments|length %}
                {{ total }} comment{{ total|pluralize }}
            {% endwith %}
        </p>
    {% endfor %}
{% endblock %}