<html>
<head>
    <title>Brabout: Brag about everything shamelessly!</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .navbar-inner-blue {
            background-image: -moz-linear-gradient(center top , #0077AA, #222222);
            background-image: -ms-linear-gradient(top, #0077AA, #222222);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0077AA), to(#222222));
            background-image: -webkit-linear-gradient(top, #0077AA, #222222);
            background-image: -o-linear-gradient(top, #0077AA, #222222);
            background-image: linear-gradient(top, #0077AA, #222222);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077AA', endColorstr='#222222', GradientType=0);
        }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">

    EnableSubmit = function(val)
    {
        var sbmt = document.getElementById("Subm");

        if (val.checked == true)
        {
            sbmt.disabled = false;
        }
        else
        {
            sbmt.disabled = true;
        }
    }
</script>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner-blue">
        <div class="container">

            <a class="brand"  href="/static/home_pages/index.htm"><h2>BrabOut &nbsp;<em style="font-size:15px; font-weight:normal; ">Brag About Anything Shamelessly!</em></h2></a>
            <div class="" style="float:right; padding-top:15px; z-index: 2000">
                <ul class="nav">

                    <li><a href="/static/home_pages/index.htm">About</a></li>
                    <li><a href="/static/home_pages/glossary.htm">Glossary</a></li>
                    <li><a href="/static/home_pages/terms.htm">Terms</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="landing-container" style="margin-top: 30px;padding: 20px 40px;">

    <div class="hero-unit" style="padding: 0 60px;">

{% block content %}
    <h4>Registration</h4>
    <p>Fill out the form, and your
        account will be created; you'll be sent an email with instructions on how
        to finish your registration.</p>
  {% if form.errors %}
      <div class="alert alert-error">
  Please correct the errors below: {{ form.non_field_errors }}
      </div>
  {% endif %}


  
  <form method="post" action="" class="form-horizontal">


    {% if form.username.errors %}
        <div class="control-group error">
    {%  else %}
        <div class="control-group">
    {%  endif %}
            <label  class="control-label" for="id_username">Username:</label>
            <div class="controls">
                {{ form.username }}
                {% if form.username.errors %}
                    <span class="help-inline">{{ form.username.errors.as_text }}</span>
                {% endif %}
            </div>
        </div>
    {% if form.email.errors %}
        <div class="control-group error">
    {%  else %}
        <div class="control-group">
    {%  endif %}
            <label class="control-label" for="id_email">Email:</label>
            <div class="controls">
                {{ form.email }}
                {% if form.email.errors %}
                  <span class="help-inline">{{ form.email.errors.as_text }}</span>
                {% endif %}
            </div>
        </div>

    {% if form.password1.errors %}
        <div class="control-group error">
    {%  else %}
        <div class="control-group">
    {%  endif %}
            <label class="control-label" for="id_password1">Password:</label>
            <div class="controls">
                {{ form.password1 }}
                {% if form.password1.errors %}
                  <span class="help-inline">{{ form.password1.errors.as_text }}</span>
                {% endif %}
            </div>
        </div>

  {% if form.password2.errors %}
      <div class="control-group error">
  {%  else %}
      <div class="control-group">
  {%  endif %}
  <label class="control-label" for="id_password2">Verify Password:</label>
  <div class="controls">
      {{ form.password2 }}
      {% if form.password2.errors %}
          <span class="help-inline">{{ form.password2.errors.as_text }}</span>
      {% endif %}
  </div>
  </div>

      <div class="control-group">
          <div class="controls">
              <label class="checkbox">
                  <input type="checkbox" id="Accept" onClick="EnableSubmit(this)"> Agree to the <a href="">terms and conditions</a>
              </label>
              <input type="submit" id="Subm" value="Create An Account" class="btn btn-primary" disabled>
          </div>
      </div>

  </form>
  
{% endblock %}

{% block content-related %}


{% endblock %}
    </div>


    <hr>

    <footer>
        <p>&copy; BrabOut 2012</p>
    </footer>

</div> <!-- /container -->


</body>
</html>
