<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Brag About It!</title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

</head>

<body>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <h1><a href="/" class="brand">&nbsp;brabout.com</a>!</h1> <h4><small>Brag About It! ...shamelessly :-)</small></h4>
                {% if user.is_authenticated %}
                    <p>Welcome, {{ user.username }}!&nbsp;<a href="/accounts/logout">Logout...</a></p>
                {% else %}
                    <p>Please log in.</p>
                {% endif %}

        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>