<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Brag About It!</title>

    <link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/reset.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/jasny-bootstrap.min.css" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.roundabout-1.0.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.easing.1.3.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-fileupload.js"></script>
    <script src="{{STATIC_URL}}js/jquery.roundabout-shapes-1.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function() { //Start up our Project Preview Carosuel
            $('ul#folio_scroller').roundabout({
                easing: 'easeOutInCirc',
                shape: 'waterWheel',
                duration: 700
            });
        });
    </script>
    <style type="text/css">
        ul.errorlist {
            margin: 0;
            padding: 0;
        }
        .errorlist li {
            background-color: white;
            color: red;
            display: block;
            font-size: 10px;
            margin: 0 0 3px;
        }
    </style>
</head>

<body class="portfolio">


<div id="wrapper" class="container_12 clearfix">

    <!-- Text Logo -->

    <h1 id="logo" class="grid_4"><a href="/" class="brand">&nbsp;Brabout.com!</a></h1>
    <h3 class="moto muted">Brag About It! ...shamelessly :)</h3>

    <div class="topbar">
        <div class="fill">
            <div class="">
                {% if user.is_authenticated %}
                    <p>Hey, {{ user.username }}!&nbsp;<a href="/accounts/logout">Logout</a></p>

                    <p>
                        {% if "addabrab" in request.path %}
                            &nbsp; <a class="btn btn-primary" href="/">Brablist</a>
                        {% else %}
                            <a class="btn btn-info" href="/addabrab">New Brab</a>
                        {% endif %}
                        {% if "mybrabs" in request.path %}
                            &nbsp; <a class="btn btn-primary" href="/">Brablist</a>
                        {% else %}
                            &nbsp;<a class="btn btn-primary" href="/mybrabs">My Brablist</a>
                        {% endif %}
                        {% if "envybrabs" in request.path %}
                            &nbsp; <a class="btn btn-primary" href="/">Brablist</a>
                        {% else %}
                            &nbsp;<a class="btn btn-primary" href="/envybrabs">My Envylist</a>
                        {% endif %}
                    </p>

                {% else %}
                    {% include "registration/login.html" %}
                {% endif %}

            </div>
        </div>
    </div>


    <div class="hr grid_12 clearfix">&nbsp;</div>

    <!-- Catch Line and Link -->

        <span class="grid_12 clearfix">
            <form action="http://127.0.0.1:8000/searchbrabs/" method="get" style="margin: 0px;">
                <input type="text" name="searchfor" placeholder="Search Tags">
                <input name="S" type="submit" class="invisible" value="search tags" style="margin-top: -10px; margin-left: 3px;"/>
            </form>
        </span>

    <div class="pr grid_12 clearfix">&nbsp;</div>

    <!-- Portfolio Items -->

    <!-- Section 1 -->

    <div class="catagory_1 clearfix">
        <!-- Row 1 -->

        <div class="grid_12">
            {% block page_header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>


    <div class="hr grid_12 clearfix">&nbsp;</div>

    <!-- Footer -->
    <p class="grid_12 footer clearfix">
        <span class="float"><b>&copy; Copyright</b> <a href="http://brabout.com">Brabout Inc.</a></span>
        <a class="float right" href="#">top</a>
    </p>

</div><!--end wrapper-->













</body>
</html>