{% extends "base.html" %}

{% block content %}
    <h2>Brabs</h2>
    {% for brab in brab_list %}
        <h3><a href="{% url brab pk=brab.id %}">{{ brab.title }}</a></h3>
        <p>{{ brab.description|truncatewords:60 }}</p>
        <p>{{ brab.auth_user.name}}</p>

        {% if brab.pictures_set %}
             {% for picture in brab.pictures_set.all %}
                  {% if picture.main %}
                        <p><img src="{{ picture.picture.url}}" alt="" width="90" height="90">
                   {% endif %}

            {% endfor %}
        {% endif %}

        <p>{{ brab.created_at }}   </p>
    {% endfor %}
{% endblock %}