{% extends "base.html" %}

{% block content %}
    {% if followee_list %}
        <form action="." method="post" style="margin: 0px;" name="SF_form">
            <ul style="margin-left: 0px;">
                <li style="background-color: #EDEFF4; width: 362px; padding: 3px; list-style-type:none; margin-left: 0">

                    <strong style="font-size: 13px">You are Following:</strong>

                </li>
            {% for each_followee in followee_list %}
                <li style="background-color: #EDEFF4; width: 362px; padding: 3px; margin-left: 0px; margin-top: 6px; margin-bottom: 6px; list-style-type: none;">
                    <div class="grid_4" style="width: 300px;" xmlns="http://www.w3.org/1999/html">
                    {{ each_followee.username }}&nbsp;(<a href="/userbrabs/{{ each_followee.pk }}">{{ each_followee.brab_count }}&nbsp;
                    brab{% if each_followee.brab_count == 1 %}{% else %}s{% endif %}</a>)</div>
{# Line above looks ugly, but if formatted well it displays space before "s"  #}
                       &nbsp;<button onclick="this.form.elements['SF'].value = {{ each_followee.pk }}; this.form.submit();" type="button" style="font-size: 12px; padding: 0px 4px 0px 4px" class="btn btn-danger a" value="Delete">Let Go...</button>
                </li>
            {% endfor %}
            </ul>
            <p> <input name="SF" type="hidden" value="0"/>
            <p>&nbsp;
        </form>
    {% endif %}


{% endblock %}