{% extends "base.html" %}

{% block content %}
    {% if follower_list %}
        {% if is_paginated %}

            <div class="brab_pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/followers?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/followers?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>

        {% endif %}

        <form action="." method="post" style="margin: 0px;" name="SF_form">
            <ul style="margin-left: 0px;">
                <li class="brab_ul_li_element" style="width: 365px;">>

                    <strong style="font-size: 13px">You are Followed by:</strong>

                </li>
                {% for each_follower in follower_list %}
                    <li class="brab_ul_li_element brab_ul_li_element_l" style="width: 365px;">
                        <div class="grid_4" style="width: 280px;">
                            {{ each_follower.username }}&nbsp;(<a href="/userbrabs/{{ each_follower.pk }}">{{ each_follower.brab_count }}&nbsp;
                            brab{% if each_follower.brab_count == 1 %}{% else %}s{% endif %}</a>)</div>
                        {# Line above looks ugly, but if formatted well it displays space before "s"  #}
                        &nbsp;<button onclick="this.form.elements['SF'].value = {{ each_follower.pk }}; this.form.submit();" type="button" class="btn btn-danger" value="Delete">Shake off....</button>
                    </li>
                {% endfor %}
            </ul>
            <p> <input name="SF" type="hidden" value="0"/>
            <p>&nbsp;
        </form>
    {% else %}
        <div class="brab_pagination">
            <p>No followers found!!! :(</p>
        </div>
    {% endif %}


{% endblock %}