{% extends "base.html" %}

{% block content %}
    <form action="." method="post" style="margin: 0px;" name="SF_form">
        {% for each_followee in followee_list %}

            {% if not each_followee.deleted %}
                <p> Following: {{ each_followee.followee }} <---&nbsp;<input type="checkbox" name="deletefollowee_{{ each_followee.pk }}"/> Stop Following... &nbsp;
            {% endif %}

        {% endfor %}
        <input name="SF" type="hidden" value="1"/>
    </form>
{% endblock %}