
{% extends "registration/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}

<h4>{% trans 'Password change' %}</h4>

<p class="text-info">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="control-group">
        {{ form.old_password.errors }}
        <label class="control-label" for="id_old_password">{% trans 'Old password:' %}</label>
        <div class="controls">
            {{ form.old_password }}
        </div>
    </div>
    <div class="control-group">
        {{ form.new_password1.errors }}
        <label class="control-label" for="id_new_password1">{% trans 'New password:' %}</label>
        <div class="controls">
            {{ form.new_password1 }}
        </div>
    </div>

    <div class="control-group">
        {{ form.new_password2.errors }}
        <label class="control-label" for="id_new_password2">{% trans 'Confirm password:' %}</label>
        <div class="controls">
            {{ form.new_password2 }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary"/>
        </div>
    </div>
</form>



{% endblock %}

{% block content-related %}

{% endblock %}