{% extends "base.html" %}

{% block content %}

    {% if brab_list %}

        {% if is_paginated %}{% load paginator %}{% paginator %}{% endif %}

        {{ brab_list.index }}
        {% for brab in brab_list %}


                <a class="portfolio_item float" style="width: 680px" href="{% url brab pk=brab.id %}">

                <span>{{ brab.title }} by {{ brab.auth_user }}</span>
                {% if brab.pictures_set.all %}
                    {% for picture in brab.pictures_set.all %}
                        {% if picture.main and picture.visible and not picture.deleted%}
                            <img style="width:680px; height: 680px" src="{{ picture.picture.url}}" alt="">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <img  style="width:680px; height:680px" class="" src="{{STATIC_URL}}images/223x112.gif"  alt=""/>
                {% endif %}
            </a>
        {% endfor %}

    {% else %}
        <div class="brab_pagination">
            <p>No brabs found!!! :(</p>
        </div>
    {% endif %}

{% endblock %}



